/* ------- BODY ------- */
body {
    padding: 20px;
    font-family: 'Neuton', serif;
    font-family: 'Poltawski Nowy', serif;
    text-align: center;
}

a { 
    text-decoration: none;
    color: #fff;
}

/* ------- HEADER ------- */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-logoBlog {
    width: 150px;
    height: 118px;
}

.nav {
    width: 400px;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    width: 150px;
    height: 25px;
    padding: 5px;
    border: 2px solid #B89567;
    border-bottom: 5px solid #B89567;
    border-radius: 10px 20px;
    background-color: #D6B096;
    text-shadow: 2px 2px #B89567;
}

.nav-button:active {
    border-bottom: 2px solid #B89567;
    box-shadow: 0px 2px 4px #B89567 inset;
}

.nav-button a{
    text-decoration: none;
    color: #fff;
}
/* ------- MAIN ------- */

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 300px 250px 300px;
}

.titles, .adminPage {
    width: 100%;
    margin-bottom: 100px;
}

.title1 {
    margin-bottom: 50px;
    font-size: 2em;
}

.titleDesc {
    margin-top: 50px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 200px;
    margin: 0 80px 100px 80px;
    border: 4px solid #9eb384;
    border-radius: 10px 20px;
    box-shadow: 4px 4px 5px #9eb384;
}

.card:active {
    box-shadow: none;
}

.image-card {
    width: 100%;
    height: 100%;
    border-radius: 7px 17px;
    object-fit: cover;
}

.sectionTitleCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -204.5px;
    border-radius: 7px 17px;
    background-color: #ffffffb7;
    color: #000;
}

.title-card {font-size: 1.4em;}

.section-category a{
    text-decoration: none;
    color: #000;
}
/* ------- FOOTER ------- */


/* ---------- ADMIN - CONNECT------------ */

.formConnection {
    width: 100%;
    padding: 0 40%;
}

.identification {
    padding: 0 15px 0 41px;
}

.pseudoEmail {margin-bottom: 15px;}

.label, .inputLoginAccount {width: 100%;}

.inputLoginAccount {
    margin: 9px 0;
    padding: 5px;
    border: 1px solid #B89567;
    border-radius: 10px 20px;
}

.connection {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 13px;
}

.button150px35px {
    width: 150px;
    height: 35px;
    padding: 5px;
    border: 2px solid #B89567;
    border-bottom: 5px solid #B89567;
    border-radius: 10px 20px;
    text-shadow: 2px 2px #B89567;
    background-color: #D6B096;
    text-decoration: none;
    color: #fff;
}

.button115px35px:active {
    border-bottom: 2px solid #B89567;
    box-shadow: 0px 2px 4px #B89567 inset;
}

/* ---------- ADMIN - ADMIN ------------ */
.nav-button.logout { margin-left: auto; }

.adminSection {
    display: flex;
    padding: 0 35%;
    justify-content: space-between;
}

.adminSection .title2, .addButton, 
.deleteButton {align-self: center;}

.adminButtons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.addButton, .deleteButton {
    width: 80px;
    height: 25px;
    padding: 5px;
    border: 2px solid #B89567;
    border-bottom: 5px solid #B89567;
    border-radius: 10px 20px;
    -webkit-border-radius: 10px 20px;
    -moz-border-radius: 10px 20px;
    -ms-border-radius: 10px 20px;
    -o-border-radius: 10px 20px;
    background-color: #D6B096;
    text-shadow: 2px 2px #B89567;
}

.addButton:active, .deleteButton:active {
    border-bottom: 2px solid #B89567;
    box-shadow: 0px 2px 4px #B89567 inset;
}
.table-admin {
    width: 800px; 
}
.table-admin th{
    padding: 25px;
    font-size: 1.25rem;
}
.table-admin td{
    padding: 15px;
}
.form-admin{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-admin label, .form-admin input{
    margin: 10px 0 15px 0;
}
.form-admin input{
    width: 500px;
}
.sectionForm{
    display: flex;
    flex-direction: column;
}

