body {
    padding: 20px;
    font-family: 'Neuton', serif;
    font-family: 'Poltawski Nowy', serif;
    text-align: center;
}

a { text-decoration: none; }

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header-logoBlog {
    width: 150px;
    height: 118px;
}

.nav {
    width: 400px;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.nav-homePage, .nav-contact {
    width: 150px;
    height: 25px;
    padding: 5px;
    border: 2px solid #D6B096;
    border-bottom: 5px solid #B89567;
    border-radius: 10px 20px;
    -webkit-border-radius: 10px 20px;
    -moz-border-radius: 10px 20px;
    -ms-border-radius: 10px 20px;
    -o-border-radius: 10px 20px;
    background-color: #D6B096;
}

.nav-homePage a, .nav-contact a {
    color: #fff;
    text-shadow: 2px 2px #B89567;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.titles {
    width: 100%;
    margin-bottom: 100px;
}

.title1 {
    margin-bottom: 50px;
    font-size: 2em;
}

.cards {
    width: 100%;
    padding: 0 170px 170px 170px;
}

.card {
    width: 300px;
    height: 200px;
    border: 2px solid #9eb384;
}